<tr>
    <th scope="row"><%= id %></th>
    <td><%= forename %></td>
    <td><%= surname %></td>
    <td><%= subject %></td>
    <td><%= dateRecieved %></td>
    <td><%= email %></td>
    <td><a href="/contact_view?id=<%= id %>" class="text-dr-br">Read more</a></td>
</tr>