<tr>
    <th scope="row"><%= id %></th>
    <td><%= title %></td>
    <td><%= price %></td>
    <td><%= description %></td>
    <td><a href="<%= del %>" class="text-dr-br">Delete</a><span>/</span><a href="<%= update %>" class="text-dr-br">Update</a></td>
</tr>